*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
img{
    width: 500px;

}
.center{
    max-width: 1440px;
    padding: 0 2%;
    margin: 0 auto;

}
/*
bloco 33.3% - divisao em 3 pequenos blocos

*/
.w33{
    width: 33.3%;

}

/*
bloco 50% - divisao em 2 blocos

*/
.w50{
    padding: 2px;
    width: 50%;
}

/*
toda vez que usar um float(left, right) precisa fazer um clear.
*/
.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}

header{
    background-color: #68B0AB;
    padding: 1% 0;
}
.mobile{
    display: none;
}
nav.desktop ul{
    list-style-type:none;
}
nav.desktop li{
    font-weight: 300;
    font-size: 23px;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: #F6D8AE;
    text-decoration: none;
}

header .logo{
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #F6D8AE;
}

section.banner-principal{
    width: 100%;
    height: 700px;
    background-image: url('../../images/AlejandroEscamilla.jpg');
    background-size: cover;
    position: relative;
}
/* cor de fundo do banner */
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.131);
    z-index: 1;
}

section.banner-principal form{
    /*
    z-index -> modifica a camada da tag
    */
    max-width: 500px;
    z-index: 2;
    position: absolute;
    left: 43%;
    right: 50%;
    top:50%;
    /* centralizar o forms com a section (CSS3) */
    transform: translate(-50%,-50%);
}
section.banner-principal form h2{
    color:#F6D8AE;
    
    font-weight: 300;
    font-size: 23px;
    text-align:center;
    min-width: 300px;
}

section.banner-principal form input[type=text]{
    overflow-wrap: break-word;
    width: 100%;
    font-size: 23px;
    min-width: 300px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: #68B0AB;
}

section.banner-principal form input[type=email]{
    font-weight: 300;
    font-size: 23px;
    text-align:left;
    min-width: 300px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: #68B0AB;
}


section.banner-principal form input[type=submit]{
    
    background-color: #68B0AB;
    color:#F6D8AE;
    cursor: pointer;
    border:0;

    border-radius: 9px;
    font-weight: 300;
    font-size: 23px;
    text-align:center;
    min-width: 300px;
}

section.descricao{
    padding: 60px 0;

}

section.descricao h1{
    font-size: 24px;
    font-weight: 300;
    color: rgba(24, 24, 24, 1);

}
section.descricao p{
    padding: 30px 0;
    font-size: 16px;
    color: rgba(24, 24, 24, 1);
    margin-top: 10px;
}

footer{
    background: #255953;
    padding: 30px 0;
}
footer p{
    color:antiquewhite;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
@media screen and (max-width: 700px){
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;

    }
    .mobile-button{
        color: #F6D8AE;
        font-size: 23px;
        cursor: pointer;
    }

    nav.mobile ul{
        display: top 60px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        /* display: block; */
        /* mostrar dinamicamente depois */
        display: none;
        text-align: center;

    }
    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background:#68B0AB;
        border-bottom: 1px solid #F6D8AE;
        font-size: 17px;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color:#F6D8AE;
        text-decoration: none;

    }
    

}

@media screen and (max-width: 700px) {
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
        

    }
    .w50{
        padding: 20px;
        width: 100%;
    }
    .w33{
        padding: 20px;
        width: 100%;
    }

    
}

section.conteudo{
    padding: 40px;
    background-color: #F6D8AE;
    text-align: center;
}
section.conteudo h1.title{
    color: rgb(51, 51, 51);
    font-size: 39px;
    font-weight: 400;
    padding-bottom: 20px;
}
.box-conteudo{
    margin: 20px 0;
    text-align: center;
}

.box-conteudo h3{
    
    color: #68B0AB;
    font-size: 40px;
}
.box-conteudo i{
    
    color: #255953;
    font-size: 40px;
}
.box-conteudo p{
    
    font-size: 16px;
}

section.extras{
    padding: 30px 0;
    background: #68B0AB;
}

.extras-text,.extras-pointers{
    padding: 0 2%;
}
section.extras .title{
    color: #F6D8AE;
    font-weight: 400;
    font-size: 30px;

}
.extras-single{
    padding: 15px 0;
    border-bottom: 1px solid #F6D8AE;
}
.extras-box-content{
    font-size: 16px;
    color: antiquewhite;
}
.extras-subtitle{
    font-size: 14px;
    color: #F6D8AE;
    font-weight: bolder;
}
.pointers li{
    margin-bottom: 15px;
    font-size: 16px;
    color: antiquewhite;
}
.pointers ul{
    margin: 20px 0;
    list-style-position:inside;

}

.contato{
    text-align: center;
    width: 100%;
    padding: 30px;
}

.contato input,textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: vertical;
    
}
.contato input[type=submit]{
    background:#68B0AB;
    font-size: 18px;
    color:#F6D8AE;
    width: 25%;
    border: none;
    cursor: pointer;
}